.NewComment{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    margin-top: 1rem;
    align-items: center;
    padding: 1rem;
}

.NewComment input{
    outline: none;
    border: none;
    margin-right: auto;
}

@media screen and (max-width: 700px) {
    .NewComment{
        order: 5;
    }
    }
